@{
    ViewData["Title"] = "Home Page";

    //var pizza1 = new Pizza("Pizza margherita", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!", "https://picsum.photos/200/300", 3.50);
    //var pizza2 = new Pizza("Pizza capricciosa", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!", "https://picsum.photos/200/300", 4);
    //var pizza3 = new Pizza("Pizza 4 stagioni", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!", "https://picsum.photos/200/300", 4.50);
    //var pizza4 = new Pizza("Pizza diavola", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!", "https://picsum.photos/200/300", 3.50);

    //List<Pizza> pizze = new List<Pizza>();
    //pizze.Add(pizza1);
    //pizze.Add(pizza2);
    //pizze.Add(pizza3);
    //pizze.Add(pizza4);
    var pizze = new Pizza[]
       {
        new(
            foto: "https://picsum.photos/200/300",
            name: "Pizza margherita",
            description: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!",
            prezzo: 3.50

        ),
        new(
            foto: "https://picsum.photos/200/300",
            name: "Pizza capricciosa",
            description: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!",
            prezzo: 4

        ),
        new(
            foto: "https://picsum.photos/200/300",
            name: "Pizza 4 stagioni",
            description: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!",
            prezzo: 4.50
        ),
        new(
            foto: "https://picsum.photos/200/300",
            name: "Pizza diavola",
            description: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!",
            prezzo: 3.50
        )
       };
}

<main>
    <div class="container">
        <div class="d-flex justify-content-center row row-cols-2 flex-wrap ">
            @for (var i = 0; i < pizze.Length; i++)
            {
                @await Html.PartialAsync("_Card", pizze[i])
            }
        </div>
    </div>

</main>

